<div class='form-font'>
  <%= form_for [@city, @post] do |f|%>
  <div class="form-group">
    <%= f.label :title %>
  
    <%= f.text_field :title, class:'form-control' %>
  </div>
  <div>
    <%= f.label :content %>
  </div>
  <div>
    <%= f.text_area :content, class:'form-control',size: '19x5'%>
  </div>
  <br/>
  <div class='d-flex justify-content-center'>
    <%= f.submit class:'btn link-text'%>
  <% end %>
  </div>

</div>


