<div class='post-show-div text-center'>
    <h3><%=@user.username%>'s Profile</h3>
    <h6>Joined at <%=@user.created_at%></h6>
   
    <%@user_posts.each do |post| %>
        <%= @cities.find(post.city_id).name.split.map(&:capitalize).join(' ')%>
        <h3> <%=post.title%> </h3>
        <h4><%=post.content%> </h4>

    <%end%>
</div>
     