<div class='d-flex justify-content-center'>
    
        <div class=' master-container'>
               <h2 class='show-username d-inline'><%=@users.find(@post.user_id).username%></h2>
            <div class = 'post-user d-flex justify-content-between'>
                   
                <div>
                    <%if @users.find(@post.user_id).profile_pic_url == nil%>
                            <%=image_tag 'https://media.giphy.com/media/p32uriSNgeZxu/giphy.gif', size: '200x200', class:'shadow'%>
                    <%else%>
                            <%=image_tag @users.find(@post.user_id).profile_pic_url, size: '200x200', class:'shadow'%>
                    <%end%>
                </div>
                            
            <div class = 'post-div'>
                <h3 class= 'post-show-title'><%=@post.title%></h3>
                <h6 class='post-show-time'><%=distance_of_time_in_words(@post.created_at, Time.now)%> ago</h6>
                <p class='post-show-content'><%=@post.content%></p>
            </div>
            </div>
        </div>
    
</div>

        
