
<h1 class='city-show-name'><%= @city.name%></h1>
<%= image_tag @city.img_url, :style => 'width: 100%'%>
<h3>Posts <%=link_to '(+)', new_city_post_path(@city)%><h3>
<ul>
<% @city_posts.each do |post| %>
    <li>
        <h4><%=link_to post.title, city_post_path(@city, post)%></h4>
        <h6><%=distance_of_time_in_words(post.created_at, Time.now)%> ago</h6>
       <h6><%=truncate(post.content, length: 50)%> <%=link_to "Read More", city_post_path(@city, post)%></h6>
    </li>
<%end%>
</ul>