
<div class='city-show-container'>
<%= image_tag @city.img_url, style: 'width: 100%'%>
<h1 class='city-show-name text-center'><%= @city.name.split.map(&:capitalize).join(' ')%></h1>
<h3 class='text-center'>Posts <%=link_to '(+)', new_city_post_path(@city)%><h3>
<div class='text-center'>
<% @city_posts.each do |post| %>


        <h4><%=link_to post.title, city_post_path(@city, post)%></h4>
        <h6><%=distance_of_time_in_words(post.created_at, Time.now)%> ago</h6>
       <h6><%=truncate(post.content, length: 50)%> <%=link_to "Read More", city_post_path(@city, post)%></h6>
   

<%end%>
</div>

</div>