


<%= image_tag @city.img_url, style: 'width: 100%'%>
<h1 class='city-show-name text-center'><%= @city.name.split.map(&:capitalize).join(' ')%></h1>
<div class='city-show-container'>
<div>
<h3 class='text-center'>Posts <%=link_to '(+)', new_city_post_path(@city)%><h3>
</div>
<div>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=1&markers=#{@city.latitude}%2C#{@city.longitude}" %>
</div>
<div class='city-user-post'>
<% @city_posts.each do |post| %>
        <div class = 'post-user'>
        <%= @user.email%>
        </div>

        <div class = 'post-div'>
        
        <h4><%=link_to post.title, city_post_path(@city, post)%></h4>
        <h6><%=distance_of_time_in_words(post.created_at, Time.now)%> ago</h6>
       <h6><%=truncate(post.content, length: 50)%> <%=link_to "Read More", city_post_path(@city, post)%></h6>
       
        </div>
        
        
<%end%>
</div>
<%= will_paginate @city_posts %>

</div>

</div>