<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProjectVagabond</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Cabin|Open+Sans+Condensed:300" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-expand-md  navbar-dark" style='background: rgba(153, 3, 3, 0.8)'>
      <a class="navbar-brand brand-font hover-nav " href="/"> <%=icon('plane', class: 'strong')%> RoamR</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to current_user.username, users_show_path, class: 'nav-link default-font hover-nav'  %> <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item active">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link default-font hover-nav' %><span class="sr-only">(current)</span>
          </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-link default-font hover-nav' %> <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item active">
            <%= link_to "Login", new_user_session_path, class: 'nav-link default-font hover-nav' %><span class="sr-only">(current)</span>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
    <%if flash.alert%>
      <p class="notice text-center" id='white-text'><%= notice %></p>
    <%end%>
    <%= yield %>
  
    <p class="notice text-center" id='white-text'><%= notice %></p>
    <p class="alert text-center" id='white-text'><%= alert %></p>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
   

  </body>
</html>

